<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="olv-xbolt-robot">
  <xacro:macro params="namespace:=olv_xbolt parent_link" name="olv-xbolt">
    <link name="${namespace}_child_link">
      <visual>
        <geometry>
          <mesh filename="package://olive_components_description/meshes/olv-xbolt.dae" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.01" />
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.01" radius="0.022" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.005" />
      </collision>
    </link>

    <joint name="${namespace}_fixed_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${namespace}_child_link" />
      <origin xyz="0 0 0.01" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>