<?xml version="1.0"?>
<robot name="olv-imu01">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://olive_modules_description/meshes/olv-imu01.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.04 0.018" />
      </geometry>
    </collision>
  </link>
</robot>