<?xml version="1.0"?>
<robot name="olv-xbolt">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://olive_components_description/meshes/olv-xbolt.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.01" radius="0.022" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.005" />
    </collision>
  </link>
</robot>